
*.properties
*.xml
*.class
nbproject/project.properties
nbproject/private/private.properties
nbproject/genfiles.properties
nbproject/build-impl.xml
build/classes/com/bernardi/trees/Treeable.class
build/classes/com/bernardi/trees/Tree.class
build/classes/com/bernardi/textProvisioning/Prediction.class
build/classes/com/bernardi/parser/TextParser.class
build/classes/com/bernardi/opsgraphable/OpsGraph.class
build/classes/com/bernardi/opsgraphable/Measurer.class
build/classes/com/bernardi/opsgenerics/IntegerGenerics.class
build/classes/com/bernardi/opsgenerics/Generics.class
build/classes/com/bernardi/opsgenerics/DoubleGenerics.class
build/classes/com/bernardi/opsarr/Set.class
